.mai_main_dialog_container {
  width: 100%;
  height: max-content;
  background: #1B1C26;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.mai_main_dialog_head_container {
  width: 100%;
  height: 44px;
  background: #0E1117;
  position: relative;
}

.mai_main_dialog_title_txt {
  color: #E6EDF3;
  font-size: 14px;
  font-weight: bold;
  font-family: Alibaba-PuHuiTi-M;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mai_main_dialog_title_close {
  font-size: 11px;
  color: #E6EDF3;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
  padding-right: 12px;
}

.mai_main_dialog_content_container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mai_main_dialog_content_txt {
  color: #E6EDF3;
  font-size: 30px;
  text-align: right;
}